{% extends 'base.html' %}

{% block content %}
<!-- add codes between block and endblock into base.html(where block in base.html) --> 
	<!-- use double '{}' to income a argument -->
	<!-- and the 'title' can give an initial capital -->
	<!-- The arguments in {} are the same as those in the rendered dictionary in views.py -->
	<h2 style="text-align: center">{{ search | title}}</h2>

	<div class="row">
		{% for book in books_list %}
			<div class="col s4">
				<div class="card">
					<div class="card-image">
						<a href="{{ book.1 }}"><img src="{{ book.2 }}" alt=""></a>
					</div>
					<div class=card-content">
						<p>{{ book.0 }}</p>
					</div>
					<div class="card-action">
						<a href="{{ book.1 }}">{{ book.3 }}</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock content %}

