{% extends 'base.html' %}

{% block content %}

    <h2 style="text-align: center">Chart Test</h2>
    
    <ul id="temperature" class="dropdown-content">
        <li><a href="../temperature">前端绕组</a></li>
        <li class="divider"></li>
        <li><a href="../temperature">后端绕组</a></li>
        <li class="divider"></li>
        <li><a href="../temperature">冷却水</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Tags</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="../voltage">电压</a></li>
                <li><a href="../current">电流</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" href="#!" data-target="temperature">温度<i class="material-icons right">arrow_drop_down</i></a></li>

            </ul>
        </div>
    </nav>
    

    <script>
        $(document).ready(function(){
            $(".dropdown-trigger").dropdown();
        });
    </script>
    {% block chart %}
    
    {% endblock chart %}

{% endblock content %}
